.big-enter {
  opacity: 0;
  transform: scale(0.9);
}
.big-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.big-exit {
  opacity: 1;
}
.big-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.switch-wrapper {
  position: relative;
}
 
.switch-wrapper > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.marquee {
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee span { 
  width: 65%;
  display: inline-block;
  text-indent: 0;
  animation: marquee 30s linear infinite
}

.marquee span.stop{
  animation-play-state: paused
}

@keyframes marquee {
 0%   { transform: translate(100%, 0); }
 100% { transform: translate(-100%, 0); }
}

@media only screen and (max-width: 440px) {
.marquee span{animation:none;padding-left:0}
}