// Lux 4.3.1
// Bootswatch


// Font Variables ===================================================================

$fontWeightNormal: 300;
$fontWeightBold: 600;

@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap&subset=cyrillic,cyrillic-ext");

// modal ============================================

.modal-xl {
  max-width: 1100px !important;
}


// image preview ==================================

.image-preview {
  position: relative;

  @media (min-width: 768px) {
    .hovered {
      display: none;
    }
  }

  &:hover {

    .hovered {
      display: block;
    }
  }
}

// Navbar ======================================================================

.relative {
  position: relative;
}

.absolute-container {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#input-search {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.menu-container {
  position: absolute;
  z-index: 10000;
  width: 100%;
}

.navbar {
  font-size: $font-size-sm;
  text-transform: uppercase;
  font-weight: $fontWeightBold;

  &-nav {
    .nav-link {
      padding-top: .715rem;
      padding-bottom: .715rem;
    }
  }

  &-brand {
    margin-right: 2rem;
  }
}

.bg-primary {
  background-color: $gray-900 !important;
}

.bg-gray {
  background-color: #b9b9b7 !important;
}

.bg-light {
  border: 1px solid rgba(0, 0, 0, 0.1);

  &.navbar-fixed-top {
    border-width: 0 0 1px 0;
  }

  &.navbar-bottom-top {
    border-width: 1px 0 0 0;
  }
}



.nav-item {
  margin-right: 2rem;
}

// Buttons =====================================================================

.btn {
  font-size: $font-size-sm;
  text-transform: uppercase;

  &-sm {
    font-size: 10px;
  }

  &-warning {
    &,
    &:hover,
    &:not([disabled]):not(.disabled):active,
    &:focus {
      color: $white;
    }
  }

  &.btn-link {
    text-decoration-line: none !important;
    font-weight: $fontWeightNormal;

    &:focus {
      text-decoration: none;
    }

    .big-dropdown {
      font-weight: $fontWeightNormal;

      > div:hover {
        font-weight: $fontWeightBold;
      }
    }
  }
}

.d-md-h-100 {
  @media (min-width: 768px) {
    height: 100%;
  }
}

.big-col {
  cursor: pointer;

  @media (min-width: 768px) {
    .hovered {
      transition: 1s all;
      opacity: 0;
    }
  }

  .hide-onhovered {
    transition: 1s all;
  }

  &:hover {

    * {
      text-decoration-line: none;
      font-weight: $fontWeightBold;
    }
  
    .hovered {
      opacity: 1;
    }

    .hide-onhovered {
      opacity: 0;
    }
  }
}

.btn-outline-secondary {
  border-color: $gray-600;
  color: $gray-600;

  &:not([disabled]):not(.disabled):hover,
  &:not([disabled]):not(.disabled):focus,
  &:not([disabled]):not(.disabled):active {
    background-color: $gray-400;
    border-color: $gray-400;
    color: $white;
  }

  &:not([disabled]):not(.disabled):focus {
    box-shadow: 0 0 0 0.2rem rgba($gray-400, 0.5);
  }
}

[class*="btn-outline-"] {
  border-width: 2px;
}

.border-secondary {
  border: 1px solid $gray-400 !important;
}

// Typography ==================================================================

body {
  font-weight: 300 !important;
  letter-spacing: 1px;
  padding-right: 0 !important;
}

strong {
  font-weight: bold !important;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.text-secondary {
  color: $body-color !important;
}

// Tables ======================================================================

th {
  font-size: $font-size-sm;
  text-transform: uppercase;
}

.table {
  th, td {
    padding: 1.5rem;
  }

  &-sm {
    th, td {
      padding: 0.75rem;
    }
  }
}

// Forms =======================================================================


.custom-switch {

  .custom-control-label {
    &::after {
      top: calc(0.15625rem + 2px);
      left: calc(-2.25rem + 2px);
      width: calc(1rem - 4px);
      height: calc(1rem - 4px);
    }
  }
}

// Navs ========================================================================

.dropdown-menu {
  font-size: $font-size-sm;
  text-transform: none;
}

// Indicators ==================================================================

.badge {
  padding-top: 0.28rem;

  &-pill {
    border-radius: 10rem;
  }
}

// Progress bars ===============================================================

// Containers ==================================================================

.list-group-item {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
  }
}

.card {

  &-title,
  &-header {
    color: inherit;
  }
}

// Carousel ==========================================================

.carousel-control-prev,
.carousel-control-next {
  top: auto !important;
  margin-bottom: 20px;
}

// calendar =======

.calendar-mini {
  width: 100%;
  background-color: white;

  tr {
    height: 64.5px;
  }

  td {
    text-align: center;
    box-shadow: 1px 1px 0px 0px black;
    border-top: 1px solid black;
    border-left: 1px solid black;

    &.disabled {
      opacity: 0.4;
    }

    &.active {
      cursor: pointer;
      font-weight: 600;
    }
  }

  .control {
    cursor: pointer;
  }
}

// Partners ==============

.partner {
  cursor: pointer;

  .image {
    transform: scale(0.5);
    width: 80%;
    opacity: 0;
    transition: 0.6s all;
  }

  .text {
    opacity: 1;
    transition: 0.6s all;
  }

  &:hover {
    .image {
      transform: scale(1);
      opacity: 1;
    }
    .text {
      opacity: 0;
    }
  }
}

// Brand logo =========

.brand-logo {
  cursor: pointer;
  margin-right: 10px;
  transition: 0.6s all;
  width: 25px;
  height: 25px;

  &:hover {
    transform: scale(1.5);
  }
}